@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind */
@layer components {
	.middle {
		@apply grid flex-1 place-content-center place-items-center;
	}
}

* {
	font-family: 'Courier New', Courier, monospace;
	box-sizing: border-box;
}

::selection {
	color: #feffe7;
	background: #4c310a;
}
